body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:thistle;
}

heading {
  color: white;
}

container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  width: 120vh;
  row-gap: 4%;
  column-gap: 4%;
  padding: 1%;
  background-color: lightcoral;
  border-style: solid;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightyellow;
  border-style: solid;
  border-radius: 10px;
}

#window1 {
  display: grid;
  justify-items: center;
  align-items:center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(96, 96, 96);
}

.top-row {
  grid-row-start: 2;
}

.top-row:hover {
  background-color: rgb(255, 128, 128);
}

.slot {
  height: 95%;
  width: 54.5%;
  background-color: rgba(141, 141, 141, 0.5);
  border-radius: 50%;
}

.col1:hover ~ #top-col1 {
  background-color: rgb(255, 128, 128);
}

.col2:hover ~ #top-col2 {
  background-color: rgb(255, 128, 128);
}

.col3:hover ~ #top-col3 {
  background-color: rgb(255, 128, 128);
}

.col4:hover ~ #top-col4 {
  background-color: rgb(255, 128, 128);
}

.col5:hover ~ #top-col5 {
  background-color: rgb(255, 128, 128);
}

.col6:hover ~ #top-col6 {
  background-color: rgb(255, 128, 128);
}

.col7:hover ~ #top-col7 {
  background-color: rgb(255, 128, 128);
}

#game1header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: span 7;
  background-color: rgb(160, 160, 160);
  color: black;
  border-radius: 7px;
}

#game1footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: span 7;
  background-color: rgb(160, 160, 160);
  color: black;
  border-radius: 7px;
}