body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:thistle;
  user-select: none;
  font-family: 'Righteous', cursive;
}

h1 {
  color: lightcoral;
  font-size: 36pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

p {
  font-size: 24pt;
}

a {
  text-decoration: none;
  font-size: 36pt;
  color: lightcoral;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

a:hover {
  font-size: 48pt;
  color: white;
  animation: grow 0.5s;
}

@keyframes grow {
  from {
    font-size: 36pt;
  }
  to {
    font-size: 48pt;
  }
  
}

heading {
  color: lightcoral;
  font-size: 18pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 10vh;
}

container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 80vmin;
  width: 120vmin;
  row-gap: 4%;
  column-gap: 4%;
  padding: 1%;
  background-color: lightcoral;
  border-style: solid;
  border-radius: 10px;
}

section {
  height: 100%;
  width: 100%;
  background-color: lightyellow;
  border-style: solid;
  border-radius: 10px;
}

#window1 {
  display: grid;
  justify-items: center;
  align-items:center;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(96, 96, 96);
  font-size: 90%;
}

.top-row {
  grid-row-start: 2;
}

.top-row:hover {
  background-color: rgb(255, 128, 128);
}

.slot {
  height: 95%;
  width: 54.5%;
  background-color: rgba(141, 141, 141, 0.5);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.col1:hover ~ #top-col1 {
  background-color: rgb(255, 128, 128);
}

.col2:hover ~ #top-col2 {
  background-color: rgb(255, 128, 128);
}

.col3:hover ~ #top-col3 {
  background-color: rgb(255, 128, 128);
}

.col4:hover ~ #top-col4 {
  background-color: rgb(255, 128, 128);
}

.col5:hover ~ #top-col5 {
  background-color: rgb(255, 128, 128);
}

.col6:hover ~ #top-col6 {
  background-color: rgb(255, 128, 128);
}

.col7:hover ~ #top-col7 {
  background-color: rgb(255, 128, 128);
}

#game1header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: span 7;
  background-color: rgb(160, 160, 160);
  color: black;
  border-radius: 7px;
}

#game1-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: span 7;
  background-color: rgb(160, 160, 160);
  color: black;
  border-radius: 7px;
}

#game1-footer > div{
  width: 35%;
  text-align: center;
}

#window2 {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 3fr 1fr 2fr;
  grid-template-columns: repeat(5, 1fr);
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  font-size: 1.5rem;
}

#game2header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: span 5;
  color: rgb(224, 219, 209);
}

#window2 > div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgb(224, 219, 209);
}

.equation {
  justify-content: center;
}

#game2footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 5;
  color: rgb(224, 219, 209);
}

#answers {
  grid-column-start: span 5;
  justify-content: space-around;
}

#answers > div {
  border-style: solid;
  border-radius: 30%;
  height: 60%;
  width: 10%;
  text-align: center;
}

#answers > div:hover {
  background-color: rgb(224, 219, 209);
  color: rgb(79, 83, 88);

}